@font-face  {
    font-family: 'Sohne' !important; 
    src: url('https://cdn.prod.website-files.com/679758c14272c334b6975a26/67975bc4aba6104bfb87c115_So%CC%88hne-Buch.otf') format('opentype') !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-display: swap !important;
}
